body {
    background-color: rgb(100, 95, 95);
    font-family: sans-serif;
    text-align: center;
  }
  
  canvas {
    margin: 0 auto;
    display: block;
    border: 2px solid white;
  }
  
  h1 {
    color: white;
    font-size: 3rem;
    margin-top: 2rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: gray;
  }

  /* Button styles */
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
  }
  
  #gameOver {
    display: none;
  }
  